#map {
  width: 100%;
  position: absolute;
  bottom: 10px;
  top: 100px;
  left: 250px;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Oswald;
  background-color: #373737;
}
.label {
  color: white;
  padding: 15px;
  display: block;
  text-align: center;
  width: 220px;
  background-color: #fd1b14;
  height:20px
}
.navbar {
  overflow: hidden;
  background-color: #333;
  width: 250px;
}

.subnav {
  overflow: hidden;
  display: block;
  text-align: center;
  font-family: Oswald;
}

.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 20px;
  background-color: inherit;
  font-family: inherit;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: red;
}

.subnav-content {
  display: none;
  position: absolute;
  text-align: center;
  background-color: red;
  width: 250px;
}

.subnav-content a {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 5px;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}
.label {
  color: white;
  padding: 15px;
  display: block;
  text-align: center;
  width: 220px;
  background-color: #fd1b14;
  height:20px
}
.navbar {
  overflow: hidden;
  background-color: #333;
  width: 250px;
}

.subnav {
  overflow: hidden;
  display: block;
  text-align: center;
  font-family: Oswald;
}

.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 20px;
  background-color: inherit;
  font-family: inherit;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: red;
}

.subnav-content {
  display: none;
  position: absolute;
  text-align: center;
  background-color: red;
  width: 250px;
}

.subnav-content a {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 5px;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}
.gm-style-iw {
  background-color: #000 !important;
  color: #fff !important;
  font-family: Oswald !important;
  text-align: center;
  font-size: 12px !important;
}
.gm-style-iw div {
  overflow: hidden !important;
  font-family: Oswald !important;
  font-size: 12px !important;
  margin: auto !important;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 8px;
}

.center {
  position: absolute;
  width: 700px;
  height: 60px;
  border: 5px solid #fff;
  padding: 5px;
  right: 400px;
  top: 10px;
  text-align: center;
  font-size: 22px;
  font-family: Oswald;
  background-color: #373737;
  color: #fff;
}
#svg {
  height: 100px;
  width: 200px;
  padding-right: 3px;
  background-color: #373737;
  margin: 10px 600px 5px 0px;
}
.Onix-Logo {
  position: relative;
  margin: auto;
  padding: 0px;
  margin: 10px 600px 5px 0px;
}

.map-control {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
  font-family: "Oswald";
  margin: 10px;
  /* Hide the control initially, to prevent it from appearing
           before the map loads. */
  display: none;
}
/* Display the control once it is inside the map. */
#map .map-control {
  display: block;
}

.selector-control {
  font-size: 14px;
  line-height: 30px;
  padding-left: 5px;
  padding-right: 5px;
}
