#map_chrome {
  width: 80%;
  position: absolute;
  bottom: 10px;
  top: 120px;
  left: 350px;
}
#map_gcp {
  width: 80%;
  position: absolute;
  bottom: 10px;
  top: 120px;
  left: 350px;
  display: justify;
}
#map_gsuite {
  width: 80%;
  position: absolute;
  bottom: 10px;
  top: 120px;
  left: 350px;
}
#map_maps {
  width: 80%;
  position: absolute;
  bottom: 10px;
  top: 120px;
  left: 350px;
}
#map_search {
  width: 80%;
  position: absolute;
  bottom: 10px;
  top: 100px;
  left: 350px;
}
#map {
  width: 80%;
  position: absolute;
  bottom: 10px;
  top: 120px;
  left: 350px;
}
html,
body {
  height: 100%;
  margin: 10px;
  font-family: Oswald;
  background-image: url("https://raw.githubusercontent.com/brittanyyee/territories/master/onix%20sales%20map/onixheader2.jpg");
  color: white;
}

.label {
  color: white;
  margin-left: 15px;
  padding: 15px;
  display: block;
  text-align: center;
  width: 300px;
  background-color: #fd1b14;
  height: 20px
}

@font-face {
  font-family: 'Oswald;';
  src: url('//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff') format('woff'),
    url('//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font-family: Oswald !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  width: 260px;
  margin-left: 2px;
  margin-top: 80px;
  margin-bottom: 10px;
}

#demo-list a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.jquery-accordion-menu,
.jquery-accordion-menu * {
  font-family: 'Oswald';
  box-sizing: border-box;
  outline: 0;
}

.jquery-accordion-menu {
  min-width: 260px;
  margin-top: 7px;
  float: left;
  position: relative;
  box-shadow: 5 30px 60px #000;
}


.jquery-accordion-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.jquery-accordion-menu ul li {
  width: 260px;
  display: block;
  float: left;
  position: relative;
}

.jquery-accordion-menu ul li a {
  color: white;
  padding: 15px;
  display: block;
  text-align: center;
  width: 220px;
  background-color: rgb(0, 0, 0);
  height: 50px;
  white-space: nowrap;
  overflow: hidden;
  transition: color .2s linear, background .2s linear;
}

.jquery-accordion-menu>ul>li.active,
.jquery-accordion-menu>ul>li:hover>a {
  color: #fff;
  background: #050505;
}


.jquery-accordion-menu ul li a i {
  width: 34px;
  float: left;
  line-height: 18px;
  font-size: 16px;
  text-align: left;
}

.jquery-accordion-menu .submenu-indicator {
  float: left;
  right: 22px;
  position: absolute;
  line-height: 19px;
  font-size: 20px;
  transition: transform .3s linear;
}

.jquery-accordion-menu ul ul.submenu .submenu-indicator {
  line-height: 16px;
}

.jquery-accordion-menu .submenu-indicator-minus>.submenu-indicator {
  transform: rotate(45deg);
}

.jquery-accordion-menu ul ul.submenu,
.jquery-accordion-menu ul ul.submenu li ul.submenu {
  width: 260px;
  display: none;
  position: static;
}

.jquery-accordion-menu ul ul.submenu li {
  clear: both;
  width: 260px;
}

.jquery-accordion-menu ul ul.submenu li a {
  width: 260px;
  display: block;
  font-size: 14px;
  background: #0f0f0f;
  border-top: none;
  position: absolute;
  border-left: solid 6px transparent;
  transition: border .2s linear;
}

.jquery-accordion-menu ul ul.submenu li:hover>a {
  border-left-color: #030303;
}

.jquery-accordion-menu ul ul.submenu>li>a {
  padding-left: 0px;
}

.jquery-accordion-menu ul ul.submenu>li>ul.submenu>li>a {
  padding-left: 0px;
}

.jquery-accordion-menu ul ul.submenu>li>ul.submenu>li>ul.submenu>li>a {
  padding-left: 0px;
}

.jquery-accordion-menu ul li .jquery-accordion-menu-label,
.jquery-accordion-menu ul ul.submenu li .jquery-accordion-menu-label {
  color: white;
  padding: 15px;
  display: block;
  text-align: center;
  width: 220px;
  background-color: rgb(10, 10, 10);
  height: 20px;
  text-decoration: none;
}
a {
  text-decoration: none;
  background-color: #000;
}
.jquery-accordion-menu ul ul.submenu li .jquery-accordion-menu-label {
  top: 12px;
}

.ink {
  display: left;
  position: absolute;
  background: rgba(255, 255, 255, .3);
  border-radius: 100%;
  transform: scale(0);
}

.animate-ink {
  animation: ripple .5s linear;
}

@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(1.0);
  }
}

.red.jquery-accordion-menu>ul>li.active>a,
.red.jquery-accordion-menu>ul>li:hover>a {
  background: #333;
}

.red.jquery-accordion-menu>ul>li>a {
  border-bottom-color: #333;
}

.red.jquery-accordion-menu ul ul.submenu li:hover>a {
  border-left-color: #333;
}

.gm-style-iw {
  background-color: #000 !important;
  color: #fff !important;
  font-family: Oswald !important;
  text-align: center;
  display: absolute;
  font-size: 12px !important;
}

.gm-style-iw div {
  overflow: hidden !important;
  font-family: Oswald !important;
  font-size: 12px !important;
  margin: auto !important;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 8px;
}

.center {
  position: absolute;
  display: center;
  width: 700px;
  height: 63px;
  right: 500px;
  top: 3px;
  bottom: 5px;
  padding: 5px;
  font-size: 20px;
  background: none;
  color: #fff;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 15px darkblue;
}
p {
  text-align: center;
  font-size: 24px;
  font-family: Oswald;
  color: #fff;
  margin-top: 5px;
  font-display: block;
}
h3 { 
  text-align: left;
  font-size: 20px;
  font-family: Oswald;
  color: #fff;
  margin-top: 15px;
}

#svg {
  height: 150px;
  width: 180px;
  padding-right: 3px;
  background: none;
  margin: 3px 60px 5px 0px;
}

.Onix-Logo {
  position: relative;
  margin: auto;
  padding: 0px;
  margin: 10px 60px 5px 0px;
  background: none;
}

#form {
  display: block;
  color: white;
  border: none;
}

.checkbox {
  display: inline-block;
  font-family: Oswald;
  color: white;
}

.w3-panel {
  color: #fff;
  margin-top: 100px;
  padding: 10px;
}
a {
  font-family: Oswald;
  font-size: 16px;
  display: block;
  color: white;
  background: none;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
a.show-hide {
  
  font-family: Oswald;
  font-size: 18px;
  width: 25%;
  display: block;
  color: white;
  margin-top: 5px;
  background: none;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.select-container h1 {
  font-size: 16px;
  display: block;
  text-align: left;
  margin-top: 5px;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.row {
  margin-top: 5px;
}
